<strong>Olá, {{ deliveryman  }}</strong>
<p>Lamentamos informar mas a sua solicitação de entrega foi <strong>cancelada</strong>,
  Você nos informou um problema considerado <strong>grave</strong>. Confira os detalhes abaixo:</p>

<p>
  <strong>Destinatário: </strong> {{  recipient }} <br/>
  <strong>Produto: </strong> {{ product }} <br/>
  <strong>Motivo do cancelamento: </strong> {{reason}}
  <br/>
  <br/>

  <small>Acesse a plataforma para mais detalhes.</small>
</p/>